<nz-header class="menu">
  <div class="menu__thumbnail">
    <img class="menu__logo" src="assets/img/logo-tul.png" alt="Logo TUL">
  </div>
  <ul nz-menu nzMode="horizontal">
    <li class="menu__option" nz-menu-item><a [routerLink]="['/store']" routerLinkActive="router-link-active"> Productos</a></li>
    <li class="menu__option" nz-menu-item>
        <nz-badge [nzCount]="count.length">
          <span>Mi carrito </span><a [routerLink]="['/checkout']" routerLinkActive="router-link-active" *ngIf="isLoggedIn"><i nz-icon nzType="shopping-cart" nzTheme="outline"></i></a>
        </nz-badge>
    </li>
    <!-- <li class="menu__option" nz-menu-item><span>Hola,  </span> <i nz-icon nzType="user" nzTheme="outline"></i></a></li> -->
    <li nz-submenu nzTitle="{{user.email}}" *ngIf="isLoggedIn">
      <ul>
        <li nz-menu-item (click)="signOut()">Cerrar sesión</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Ingresar" *ngIf="!isLoggedIn">
      <ul>
        <li nz-menu-item><a [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar sesión</a></li>
        <li nz-menu-item><a [routerLink]="['/create-account']" routerLinkActive="router-link-active"><span>Crear una cuenta </span></a></li>
      </ul>
    </li>
  </ul>
</nz-header>


  