.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.menu__thumbnail {
    width: 150px;
}

.menu__logo {
    width: 100%;
}

.menu__option:hover {
    color: rgb(83 237 186);
    border-bottom-color: rgb(83 237 186);
}

.menu__option:active {
    color: rgb(83 237 186);
    border-bottom-color: rgb(83 237 186);
}

nz-header {
    position: fixed;
    width: 100%;
}

[nz-menu] {
    line-height: 64px;
}

     
    