<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="SignIn()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Valor no válida para correo electrónico!">
      <nz-input-group nzPrefixIcon="user">
        <input type="email" nz-input formControlName="userName" placeholder="Email" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="¡Por favor ingrese su contraseña!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
  </div>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Iniciar sesión</button>
  Or <a> register now! </a>
</form>